@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-primary);

  font-family:
    Inter,
    system-ui,
    sans-serif;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
}
